<div class="announcement-bar color-{{ section.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
  <div class="inner-bar">

    <div class="for-desktop">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'announcement' -%}
            {%- if block.settings.text != blank -%}
              {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset">
                {%- endif -%}
                <p class="announcement-bar__message h5">
                  {{ block.settings.text | escape }}
                </p>
                {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class="for-mobile">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'announcement' -%}
                {%- if block.settings.text != blank -%}
                  <div class="swiper-slide">
                    {%- if block.settings.link != blank -%}
                      <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset">
                      {%- endif -%}
                      <p class="announcement-bar__message h5">
                        {{ block.settings.text | escape }}
                      </p>
                      {%- if block.settings.link != blank -%}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>

{% schema %}

{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        }, {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        }, {
          "value": "accent-3",
          "label": "Accent 3"
        }, {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        }, {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }, {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-3",
      "label": "t:sections.all.colors.label"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        }, {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}

{% endschema %}

{% javascript %}

window.addEventListener('load', function () {
  var swiper = new Swiper(".mySwiper", {
    direction: "vertical",
    autoplay: {
      delay: 2000,
      disableOnInteraction: true
    }
  });
});

{% endjavascript %}
